<div class="header-3">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
    <div class="container">
      <a class="navbar-brand mb-0" href="/">Eris Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <a href="#paper-kit" class="btn btn-link btn-neutral">프로젝트 개요</a>
          <a href="#paper-kit" class="btn btn-link btn-neutral">프로젝트 API 문서</a>
          <a href="#paper-kit" target="_blank" class="btn btn-link btn-neutral "><i class="fa fa-github"></i> 깃허브 바로가기</a>
          <a href="#paper-kit" target="_blank" class="btn btn-link btn-neutral"><i class="fa fa-linkedin-square"></i> 링크드인 바로가기</a>
          <a href="#paper-kit" class="btn btn-link btn-neutral">로그인/회원가입</a>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-carousel">
    <div class="filter"></div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="page-header"
             style="background-image: url('https://images.unsplash.com/photo-1498063401574-13cbee350467?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');">
          <div class="filter"></div>
          <div class="content-center">
            <div class="container">
              <div class="row">
                <div class="col-md-6 text-left">
                  <h1 class="title">Project Service Summary</h1>
                  <h5> 다양한 사업군의 고객 행동패턴을 분석하여 고객에게 필요한 해당 사업자의 상품중
                    가장 적절한 상품들을 고객들에게 추천하는 API 를 서비스로 제공</h5>
                  <br/>
                  <div class="buttons">
                    <a href="#pablo" class="btn btn-danger btn-round  btn-lg">
                      Read More
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                      <i class="fa fa-github-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="page-header"
             style="background-image: url('https://images.unsplash.com/photo-1482690205767-61deebe15ef7?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
          <div class="filter"></div>
          <div class="content-center">
            <div class="container">
              <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                  <h1 class="title">AWS 기반 CI 운영배포 </h1>
                  <h5>해당 프로젝트는 AWS를 사용하여 배포 운영되고 git 을 통해 형상관리되고 있는 프로젝트입니다</h5>
                  <br/>
                  <h6>Connect with us:</h6>
                  <div class="buttons">
                    <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="page-header"
             style="background-image: url('https://images.unsplash.com/photo-1498063669468-89723a87123d?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=')">
          <div class="filter"></div>
          <div class="content-center">
            <div class="container">
              <div class="row">
                <div class="col-md-7 ml-auto text-right">
                  <h2 class="title">프로젝트 기술 스택</h2>
                  <h5> Django 2.2.1  DRF, Swagger2,<br>
                    Database:  Mysql, MongoDB, Redis,
                  </h5>
                  <br/>
                  <div class="buttons">

                    <a href="#pablo" class="btn btn-neutral btn-link btn-lg">
                      <i class="fa fa-share-alt"></i> Share Offer
                    </a>
                    <a href="#pablo" class="btn btn-success btn-round btn-lg">
                      <i class="fa fa-shopping-cart"></i> Shop Now
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>

