.idea

/Eris-frontend-project/node_modules/*
/Eris_backend_project/venv/*

Eris_backend_project/product_recommendation/__pycache__/
Eris_backend_project/product_recommendation/migrations/__pycache__/

Eris_backend_project/.idea
Eris_backend_project/db.sqlite3

Eris_backend_project/configuration/secrets.json
Eris_backend_project/configuration/__pycache__/*